
.about-text,
.about-item-text {
  color:  hsl(0, 0%, 53%);
  font-size: 1.2rem;
 
}

.about-text { margin-bottom: 30px; }



.about-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.about-item-icon {
  background:   #f6ac45;
  color: white;
  font-size: 26px;
  padding: 16px;
  border-radius: 50%;
  margin-top: 5px;
}

.about-item-title {
  color: hsl(0, 0%, 40%);
  font-weight: 600;
  margin-bottom: 5px;
}



  /**
   * ABOUT
   */

   .about .container {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
    .about-content { margin-bottom: 0; }



    @media (min-width: 1200px) {
  
    .container { max-width: 1150px; }

  
  
    .about .container { grid-template-columns: 0.7fr 1fr; }
  
  }

