 .content {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #f9f9f5;
   background-image: url(../asset/img/Aswan-Nilme.png);
    background-position: center; 
     background-repeat: repeat; 
  background-size: cover;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all 200ms linear; 
  } 
  ::selection {
    color: #fff;
    background-color: #080b4e;
  }
  ::-moz-selection {
    color: #fff;
    background-color: #081957;
  }






  /* services */
  
.popular-places .owl-nav {
    display: none;
  }
  
  .popular-places .owl-dots {
    margin-top: 40px;
    text-align: center;
  }
  
  .popular-places .owl-dots .owl-dot span  {
    width: 12px;
    height: 12px;
    background-color: #28106d!important;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
  }
  
  .popular-places .owl-dots .active span {
    background-color: #4883ff!important;
  }
  
  .popular-places .owl-dots button {
    outline: none;
  }
  
  .popular-places .popular-item .thumb {
    position: relative;
  }
  
  .popular-places .popular-item .thumb img {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
  }
  
  .popular-places .popular-item .thumb .text-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9;
    color: #fff;
  }
  
  .popular-places .popular-item .thumb .text-content h4 {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .popular-places .popular-item .thumb .text-content span {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: block;
  }
  
  .popular-places .popular-item .thumb .plus-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
  }
  
  
  .popular-places .popular-item .thumb .plus-button i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
  }
  
  .popular-places .popular-item .thumb .plus-button i:hover {
    background-color: rgba(250,250,250,0.3);
  }
  









